body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: #29abe2;
    position: fixed;
    top: 0;
    width: 100vw;
}
nav > a{
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6f3fa;
}
#welcome-section > h1{
    margin: 0;
    font-size: 5rem;
}
#welcome-section > p{
    margin: 0;
    font-size: 2rem;
}
#projects{
    padding: 6rem 1rem;
    background-color: rgb(173, 211, 249);
}
#projects > h1{
    font-size: 3.5rem;
    padding: 5px;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 1px solid white;
    text-align: center;
}
span{
    color: rgba(240, 6, 6, 0.881);
}
.container{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 10vw;
    justify-content: center;
}
.project-image{
    width: 35vw;
}
.container p{
    text-align: center;
    font-size: 1.5rem;
}